{% extends 'base.html.twig' %}

{% block title %}
  {{title}}
{% endblock %}


{% block body %}
  <header class="clearfix">
    <figure id="logo">
      <a href="{{base_url}}"><img src="{{asset('images/logo.png')}}" alt="Ct search" /></a>
      <figcaption class="element-invisible">Logo Ct search</figcaption>
    </figure>
    <form action="" method="get" id="search-page-form">
      <label for="search_query_string" class="element-invisible">{{"Search"|trans}}</label>
      <input type="text" id="string" name="q" value="{{querystring}}" placeholder="Search..." autocomplete="off" />
      <input type="submit" value="{{"Search"|trans}}" />
    </form>
  </header>
  <section id="container" class="search-page search-page-{{searchPage.name}}{%if results._ctsearch.aggregations is defined%} with-aggregations{%endif%}">
    <h1 class="element-invisible">{{title}}</h1>
    
    <div class="results-summary">
      {%if results.hits.total is defined%}
      {{'%count% result(s) for search "%search%"'|trans({'%count%': results.hits.total, '%search%': querystring})}}
      {%endif%}
      {%if didYouMean is defined%}
      <div class="did-you-mean">
        Did you mean <a href="{{url('search-page-display', {'id': searchPage.id, 'q': didYouMean})}}">{{didYouMean}}</a> ?
      </div>
      {%endif%}
    </div>
    {%if results._ctsearch.aggregations is defined%}
      <div class="aggregations">
        {%for agg_name, agg in results._ctsearch.aggregations%}
          <div class="agg" id="add-{{agg_name}}">
            <div class="title">{{agg.label}}</div>
            <ul>
            {%for value in agg.values%}
              {%if value.active is defined and value.active%}
              <li class="active"><a href="{{value.remove_url}}">X</a>{{value.key}} ({{value.doc_count}})</li>
              {%else%}
              <li><a href="{{value.link}}">{{value.key}} ({{value.doc_count}})</a></li>
              {%endif%}
            {%endfor%}
            </ul>
            {%if agg.see_more_link is defined%}
              <div class="see-more">
                <a href="{{agg.see_more_link}}" class="ajax-link">{{"See more"|trans}}</a>
              </div>
            {%endif%}
          </div>
        {%endfor%}
      </div>
    {%endif%}
    {%if results.hits.total is defined and results.hits.total > 0%}
      <div class="search-results" search-page-id="{{searchPage.id}}">
      {%for hit in results.hits.hits%}
        
        {%if hit._ctsearch.url|length > 75%}
          {%set urlDisplay = hit._ctsearch.url|slice(0, 75) ~ '...'%}
        {%else%}
          {%set urlDisplay = hit._ctsearch.url%}
        {%endif%}
        <div class="search-result type-{{hit._type}} clearfix" doc-id="{{hit._id}}" doc-type="{{hit._type}}">
          {%if hit._ctsearch.image is defined%}
          <div class="search-field field-image"><img src="{{hit._ctsearch.image}}" /></div>
          {%endif%}
          <div class="search-field field-title"><a href="{{hit._ctsearch.url}}" target="_blank">{{hit._ctsearch.title|raw}}</a></div>
          <div class="search-field field-url"><a href="{{hit._ctsearch.url}}" target="_blank">{{urlDisplay}}</a>
          </div>
          <div class="search-field search-result-excerp clearfix">
            {{hit._ctsearch.excerp|raw}}
          </div>
          {%if searchPage.config.more_like_this_fields is defined and searchPage.config.more_like_this_fields|length > 0%}
          <div class="more-like-this">
            <a href="javascript:void(0)" class="more-like-this-link">{{"See more like this"|trans}}</a>
          </div>
          {%endif%}
        </div>
      {%endfor%}
      </div>
      {{pager|raw}}
    {%endif%}
  </section>
{% endblock %}



{% block stylesheets %}
  <link rel="stylesheet" href="{{asset('css/normalize.css')}}" />
  <link rel="stylesheet" href="{{asset('js/jquery-ui/jquery-ui.min.css')}}" />
  <link rel="stylesheet" href="{{asset('css/global.css')}}" />
  <link rel="stylesheet" href="{{asset('css/radiofrance.css')}}" />
  <link rel="stylesheet" href="{{asset('css/rwd.css')}}" media="screen and (max-width: 720px)" />
{% endblock %}

{% block javascripts %}
  <script type="text/javascript">
    var __base_url = '{{url('homepage')}}';
    var __autocomplete_enabled = {{autocomplete ? 'true' : 'false'}};
    var __ctsearch_js_translations = {
      OK: "{{'OK'|trans}}",
      Cancel: "{{'Cancel'|trans}}",
      DeleteIndexConfirm: "{{'You are about to delete an index.\\nDo you wish to proceed?'|trans}}",
      DeleteMappingConfirm: "{{'You are about to delete this mapping.\\nDo you wish to proceed?'|trans}}",
      UpdateMappingNoWipe: "{{'Updating this mapping without wiping data will not remove deleted fields.\\nDo you wish to proceed?'|trans}}",
      UpdateMappingWipe: "{{'Updating this mapping will wipe all data.\\nDo you wish to proceed?'|trans}}",
      ShowHideJSONDef: "{{'Show/hide JSON definition'|trans}}",
      FieldName: "{{'Field name'|trans}}",
      FieldType: "{{'Field type'|trans}}",
      FieldFormat: "{{'Format'|trans}}",
      FieldAnalysis: "{{'Analysis'|trans}}",
      FieldStore: "{{'Store'|trans}}",
      FieldBoost: "{{'Boost'|trans}}",
      FieldAnalyzed: "{{'Analyzed'|trans}}",
      FieldNotAnalyzed: "{{'Not analyzed'|trans}}",
      FieldStored: "{{'Stored'|trans}}",
      FieldNotStored: "{{'Not stored'|trans}}",
      FieldDelete: "{{'Delete'|trans}}",
      FieldAdd: "{{'Add field'|trans}}",
      FieldAlreadyExists: "{{'This field is already set. You must delete it first.'|trans}}",
      FieldMissingNameOrType: "{{'You must provide a field name and type.'|trans}}",
      DeleteDatasourceConfirm: "{{'You are about to delete a data source.\\nDo you wish to proceed?'|trans}}",
      DeleteProcessorConfirm: "{{'You are about to delete a processor.\\nDo you wish to proceed?'|trans}}",
      DeleteSearchPageConfirm: "{{'You are about to delete a search page.\\nDo you wish to proceed?'|trans}}"
    };
  </script>
  <script type="text/javascript" src="{{asset('js/jquery-1.11.3.min.js')}}"></script>
  <script type="text/javascript" src="{{asset('js/jquery-ui/jquery-ui.min.js')}}"></script>
  <script type="text/javascript" src="{{asset('js/ctsearch.js')}}"></script>
{% endblock %}