{%set main_menu_item='logs'%}
{%set title="Logs"|trans%}
{% extends 'ctsearch/base.html.twig' %}

{% block title %}
  {{title}}
{% endblock %}


{%block main_content%}
  <div class="log-form">
    {{ form(form) }}
  </div>
  <table class="log-table">
    <thead>
    <tr>
      <th>{{ "Type"|trans }}</th>
      <th>{{ "Date/Time"|trans }}</th>
      <th>{{ "Datasource"|trans }}</th>
      <th>{{ "Message"|trans }}</th>
      <th>{{ "Object"|trans }}</th>
    </tr>
    </thead>
    <tbody>
    {% for log in logs %}
      <tr>
        <td>{{ log._source.type }}</td>
        <td>{{ log._source.date }}</td>
        <td>{{ log._source.log_datasource_name }}</td>
        <td>{{ log._source.message }}</td>
        <td class="object">{{ log._source.object }}</td>
      </tr>
    {% endfor %}
    </tbody>
  </table>
{% endblock %}